<div class="row">
  <div class="col-12">
    <div class="card profile-section">
      <div class="card-body">
        <div class="card-title profile-title">
          <h4>My Profile</h4>
          <button *ngIf="!editBtn" class="btn btn-info" (click)="edit()">
            <i class="fa fa-edit"></i>
          </button>
          <div class="btn-util" *ngIf="editBtn">
            <button  class="btn btn-success" (click)="update()">
              Update
            </button>
            <button  class="btn btn-danger" (click)="cancel()">
              Cancel
            </button>
          </div>
        </div>
        <form [formGroup]="userProfile">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                <td style="width:200px;">Name</td>
                <td><p *ngIf="!editBtn">{{userData?.full_name}}</p>
                  <input *ngIf="editBtn" type="text" [value]="userData?.full_name" class="form-control" name="full_name" formControlName="full_name"></td>
              </tr>
              <tr>
                <td style="width:200px;">Date Of Birth</td>
                <td>
                  <p *ngIf="!editBtn">{{userData?.dob | date}}</p>
                  <input *ngIf="editBtn" type="date" value="{{userData?.dob}}" class="form-control" name="dob" formControlName="dob">
                </td>
              </tr>
              <tr>
                <td style="width:200px;">
                  Mobile No.
                </td>
                <td>
                  <p *ngIf="!editBtn">{{userData?.mobile}}</p>
                  <input *ngIf="editBtn" type="text" value="{{userData?.mobile}}" class="form-control" name="mobile" formControlName="mobile">
                </td>
              </tr>
              <tr>
                <td style="width:200px;">
                  Address
                </td>
                <td>
                  <p *ngIf="!editBtn">{{userData?.address}}</p>
                  <textarea *ngIf="editBtn" class="form-control" name="address" formControlName="address">
                    {{userData?.address}}
                  </textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
