.container-fluid{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 8%;
}
.box{
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}



