.menu>.card-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:0;
}

.menu>.card-body>button{
  border-radius: 0;
  border-bottom: solid 1px;
}