*{
  margin:0;
  padding:0;
}

body{
  height: 100vh;
  width: 100vw;
}

.container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 10%;
}

.login-card{
  width: 500px;
}
.login-alert{
  display: none;
}