<div class="banner-container">
  <div class="sec-1">
    <div class="banner-item h-100 b-1">
      <div class="banner-content">
        <h3 style="z-index: 2;">Electornics</h3>
        <p>
          Buy Unlimited Electornics product at 100% off
        </p>
        <div class="util">
          <button class="btn" routerLink="/section/3">
            Show Now
          </button>
        </div>
      </div>
      <div class="banner-shadow"></div>
    </div>
  </div>
  <div class="sec-2">
    <div class="banner-item h-50 b-2">
      <div class="banner-shadow"></div>
      <div class="banner-content">
        <h3 style="z-index: 2;">Men Fashion</h3>
        <p>
          Buy Men Trend Collection at 100% off
        </p>
        <div class="util">
          <button class="btn" routerLink="/section/1">
            Show Now
          </button>
        </div>
      </div>
    </div>
    <div class="banner-item h-50 b-3">
      <div class="banner-content">
        <h3 style="z-index: 2;">Women Fashion</h3>
        <p>
          Buy Women Trend Collection at 100% off
        </p>
        <div class="util">
          <button class="btn" routerLink="/section/2">
            Show Now
          </button>
        </div>
      </div>
      <div class="banner-shadow"></div>
    </div>
  </div>
</div>